/*  Fonts
    -----
    font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif;
 */

 body {
   margin: 0;
   font-family: 'Ubuntu', sans-serif;
 }

 /* =================
    Typography
    ================= */

 header {
   text-align: center;
   background: #f8f8f8;
   padding: 2em 0;
 }

 nav ul {
   list-style: none;
   padding: 0;
   display: flex;
   justify-content: center;
 }

 nav li {
   margin: 0 1em;
 }

 nav a {

 }

 nav a:hover{

 }